.modelexplorer{
    position:relative;
    max-width:100%;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
    padding:5em;
    background-color:var(--backgroundColor);
    overflow:hidden;
}
