.modelexplorer{
    max-width:100%;
    flex:1;
    padding:9em;
    background-color:#1f1a2e;
}
.header{
    position:relative;
    max-width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0.85;
}
.icon{
    position:absolute;
    width:10em;
    left:0;
    top:0;bottom:0;margin:auto 0;
}
.title{
    height:1em;
    font-family:pottaone;
    font-size:10em;
    font-weight:400;
    text-transform:uppercase;
    color:white;
    translate:0 -0.3em;
}
