<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="com.webanimbook.app" android-packageName="com.webanimbook.app" version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0"
>
    <name>WebAnimBook</name>
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover"/>
    <description>Cordova app template</description>
    <author email="aayachi032@gmail.com">Ahmed Ayachi</author>
    <content src="index.html"/>
    <access origin="file://*"/>
    <allow-navigation href="file://*"/>
    <allow-intent href="file://*"/>
    <preference name="android-minSdkVersion" value="26"/>
    <!-- <preference name="android-targetSdkVersion" value=""/> -->
    <!-- <preference name="android-maxSdkVersion" value=""/> -->
    <preference name="BackgroundColor" value="#1f1a2e"/>
    <icon src="src/Assets/Icon/Icon.png"/>
    <platform name="android">
        <edit-config 
            file="app/src/main/AndroidManifest.xml"
            target="/manifest/application/activity[@android:name='MainActivity']"
            mode="merge"
        >
            <activity android:theme="@style/MainActivity"/>
        </edit-config>
        <resource-file src="src/Assets/Xml/MainActivity.xml" target="/app/src/main/res/values/MainActivity.xml"/>
        <resource-file src="src/Assets/Xml/LaunchScreen_0.xml" target="/app/src/main/res/drawable/launchscreen.xml"/>
    </platform>
    <platform name="ios">
        <preference name="UseSwiftLanguageVersion" value="5"/>
        <preference name="StatusBarOverlaysWebView" value="false"/>
        <!-- <icon src="src/Assets/Icon/Icon_20x1.png" width="20"/>
        <icon src="src/Assets/Icon/Icon_20x2.png" width="40"/>
        <icon src="src/Assets/Icon/Icon_20x3.png" width="60"/>
        <icon src="src/Assets/Icon/Icon_24x2.png" width="48"/>
        <icon src="src/Assets/Icon/Icon_27.5x2.png" width="55"/>
        <icon src="src/Assets/Icon/Icon_29x1.png" width="29"/>
        <icon src="src/Assets/Icon/Icon_29x2.png" width="58"/>
        <icon src="src/Assets/Icon/Icon_29x3.png" width="87"/>
        <icon src="src/Assets/Icon/Icon_40x1.png" width="40"/>
        <icon src="src/Assets/Icon/Icon_40x2.png" width="80"/>
        <icon src="src/Assets/Icon/Icon_40x3.png" width="120"/>
        <icon src="src/Assets/Icon/Icon_44x2.png" width="88"/>
        <icon src="src/Assets/Icon/Icon_50x1.png" width="50"/>
        <icon src="src/Assets/Icon/Icon_50x2.png" width="100"/>
        <icon src="src/Assets/Icon/Icon_57x1.png" width="57"/>
        <icon src="src/Assets/Icon/Icon_57x2.png" width="114"/>
        <icon src="src/Assets/Icon/Icon_60x2.png" width="120"/>
        <icon src="src/Assets/Icon/Icon_60x3.png" width="180"/>
        <icon src="src/Assets/Icon/Icon_72x1.png" width="72"/>
        <icon src="src/Assets/Icon/Icon_72x2.png" width="144"/>
        <icon src="src/Assets/Icon/Icon_76x1.png" width="76"/>
        <icon src="src/Assets/Icon/Icon_76x2.png" width="152"/>
        <icon src="src/Assets/Icon/Icon_80.5x2.png" width="167"/>
        <icon src="src/Assets/Icon/Icon_86x2.png" width="172"/>
        <icon src="src/Assets/Icon/Icon_98x2.png" width="196"/> -->
    </platform>
</widget>
