.quizview{
    max-width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    padding:0 5em;
    background:linear-gradient(to bottom right,var(--mainColor) 2.5%, var(--majorColor) 90%);
}
.container{
    max-width:100%;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.footer{
    max-width:100%;
    font-size:1em;
    padding-bottom:20em;
}

@keyframes rotate {
    to{
        rotate:-360deg;
    }
}
