.mainview{
    display:flex;
    justify-content:center;
    align-items:center;
}
.mainview>p{
    font-size:3em;
}
.header{
    background-color:white;
}
.container{
    background-color:var(--backgroundColor);
}
