.colorpicker{
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
.color{
    width:60em;
    height:60em;
    border-radius:50%;
    background-color:rgb(250,2,2);
}
