:root{
    --mainFont:arial;
    --majorFont:pottaone;
    --minorFont:cutivemono;
    --mainColor:#4599d7;
    --majorColor:#d979c3;
    --minorColor:#208758;
    --textColor:#ffffff;
    --backgroundColor:#1f1a2e;
}
*{
    margin:0;
    padding:0;
    outline:none transparent !important;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
input:read-write,textarea:read-write,div[contenteditable]{
    user-select:text;
    -moz-user-select:text;
    -webkit-user-select:text;
    -ms-user-select:text;
}
div::-webkit-scrollbar{
    display:none;
}
body{
    overflow:hidden;
}
#webview{
    max-width:100vw;
    height:100vh;max-height:100vh;
    font-family:var(--mainFont);
    overflow:hidden;
}
