.colorslider{
    position:relative;
    width:calc(90% - 2em);
    height:8em;
    border-radius:4em;
    background:linear-gradient(to right,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
}
.pin{
    position:absolute;
    width:3.5em;
    height:3.5em;
    top:0;bottom:0;margin:auto 0;
    border-radius:50%;
    border:2em solid white;
}
