.answerpad{
    max-width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:2em;
    border:var(--borderWidth) solid var(--textColor);
    --borderWidth:0.6em;
}
.answerbtn{
    font-size:1em;
    color:var(--textColor);
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5em;
    background-color:transparent;
}
.answerbtn[clicked]{
    color:var(--backgroundColor);
    background-color:var(--textColor);
}
.answerbtn:nth-of-type(2n){
    border-left:calc(var(--borderWidth) / 2) solid var(--textColor);
}
.answerbtn:nth-of-type(2n+1){
    border-right:calc(var(--borderWidth) / 2) solid var(--textColor);
}
.answerbtn>img{
    width:4em;
    margin-right:2em;
}
.answerbtn>label{
    font-family:var(--minorFont);
    font-weight:700;
    font-size:4em;
    text-transform:uppercase;
    color:inherit;
}
